@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import "tailwindcss";

:root {
  --font-playfair-display: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --screens-sm: 480px;
  --screens-md: 768px;
  --screens-lg: 1024px;
  --screens-xl: 1280px;
  --screens-2xl: 1536px;
  --color-main-dark: #202634;
  --color-text-white: #f5f5dc;
  --color-title-dark: #228b22;
  --color-text-accent: #00a86b;
  --color-hover-light: #32cd32;
  --color-text-enegry: #50c878;
  --color-neon-green: #00ff7f;
  --color-panel-green: #00ff99;
  --color-mint-green: #00cc66;
  --color-bright-mint: #98ff98;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #202634;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair-display);
  }
  p {
    font-family: var(--font-inter);
  }

  a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
/* @layer {
  .container-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .container-section {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    .container-section {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1024px) {
    .container-section {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
}
@media (min-width: 1280px) {
  .container-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
} */

@layer {
  .home-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  /* .home-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  /* .mask-wrapper {
    width: 100%;
    height: 100%;
    mask-image: url("./assets/icons/home-1.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 0%;
    transition: mask-size 2s ease-in-out;
  } */

  .bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%); */
  }

  .home-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-text {
    width: 60vw;
    /* transform: scale(0.5);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease; */
  }
  .title {
    color: var(--color-title-dark);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  /* neon button _________ */
  .neon-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 2rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    overflow: hidden;
    text-shadow: 0 0 5px var(--color-neon-green),
      0 0 10px var(--color-neon-green), 0 0 15px var(--color-neon-green);
  }

  .neon-button::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid transparent;
    border-top-color: #00ff7f;
    border-right-color: #00ff7f;
    transform: skewX(-15deg) skewY(15deg) translate(-50%, -50%);
    width: 150%;
    height: 150%;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
  }
  .neon-button::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid transparent;
    border-bottom-color: #00ff7f;
    border-left-color: #00ff7f;
    transform: skewX(-15deg) skewY(15deg) translate(50%, 50%);
    width: 150%;
    height: 150%;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
  }
  .neon-button:hover {
    color: #00ff7f;
  }
  /* sub text hero_________ */
  .hero-section-container {
    height: 200vh;
    position: relative;
    overflow: hidden;
  }

  .hero-image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24rem;
    height: 60vh;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .hero-text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 20;
    color: var(--color-text-white);
  }

  .title {
    color: var(--color-title-dark);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .about-subtext {
    position: absolute;
    bottom: -80dvh;
    left: 50%;
    width: 100%;
    max-width: 24rem;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.125rem;
  }

  @media (min-width: 768px) {
    .about-subtext {
      max-width: 34rem;
    }
  }
  .hero-image {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 20;
    height: 60vh;
    width: 24rem;
    transform-origin: center;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 1.5rem;
  }
  /* .hero-image {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 20;
    height: 60vh;
    width: 24rem;
    transform-origin: center;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 1.5rem;
  } */
  @media (min-width: 768px) {
    .hero-image {
      width: 30vw;
    }
  }
  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  /* animated title */
  .animated-title {
    font-family: inherit;
    font-weight: 900;
    opacity: 0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px;
    will-change: opacity, transform;
  }
  /* section home  */
  .home-image {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 20;
    height: 60vh;
    width: 24rem;
    transform-origin: center;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 1.5rem;
  }
}
@layer {
  menu {
    position: relative;
    width: 100%;
    margin-top: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: 768px) {
    menu {
      margin-top: 10rem;
    }
  }

  .poster-tabs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 10;
  }

  @media (min-width: 768px) {
    .poster-tabs {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 5rem;
      margin-bottom: 8rem;
      max-width: 72rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .poster-tabs button {
    padding-bottom: 0.5rem;
    color: #228b22;
    cursor: pointer;
    transition-property: color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 1px solid;
  }

  @media (min-width: 768px) {
    .poster-tabs button {
      font-size: 1.875rem;
    }
  }

  .poster-tabs button:hover {
    color: #00ff7f;
    border-color: #00ff7f;
  }

  .poster-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #32cd32;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 100%;
  }

  .poster-content .arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
  }

  .poster-content .arrows button {
    color: #00ff7f;
    cursor: pointer;
    transition: color 0.3s;
    max-width: 9rem;
  }

  .poster-content .arrows button:hover {
    color: #228b22;
  }

  .poster-content .arrows button span {
    font-size: 1.875rem;
    line-height: 1;
    display: none;
  }

  @media (min-width: 768px) {
    .poster-content .arrows button span {
      display: block;
    }
  }

  .poster-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border: 1px solid #00ff99;
  }

  .poster-image img {
    object-fit: contain;
    height: 60vh;
    /* position: relative; */
  }

  .poster-info-block {
    display: flex;
    /* min-width: 280px; */
    /* max-width: 900px; */
    gap: 2.5rem;
    color: #00cc66;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
  }

  @media (max-width: 767px) {
    .poster-info-block {
      flex-direction: column;
    }
  }

  @media (min-width: 1024px) {
    .poster-info-block {
      position: absolute;
      bottom: 0;
    }
  }

  .poster-info {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 1024px) {
    .poster-info {
      transform: translateY(5rem);
    }
  }

  .poster-info h2 {
    font-size: 1.875rem;
    margin-top: 1.25rem;
  }

  @media (min-width: 768px) {
    .poster-info h2 {
      font-size: 3.125rem;
    }
  }

  .poster-info p {
    font-size: 1.125rem;
    padding-right: 1.25rem;
  }

  @media (min-width: 768px) {
    .poster-info p {
      font-size: 1.125rem;
    }
  }

  .poster-details {
    margin-top: 1.25rem;
  }
  .watch-status {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #35ff9e;
    font-size: 14px;
    font-weight: 400;
  }
  .status {
    width: 7px;
    height: 7px;
    background-color: #35ff9e;
    border-radius: 100%;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #35ff9e;
    }
    70% {
      box-shadow: 0 0 0 9px #116342;
    }
    100% {
      box-shadow: 0 0 0 0 rgba(63, 244, 156, 0.676);
    }
  }
  .title-and-pulse-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  }
  /* Quize */
  .core-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
    padding: 20px;
  }

  .quiz-card {
    width: 400px;
    min-height: 250px;
    background-color: #2c2f33;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    opacity: 1;
  }

  .quiz-text-container {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quiz-text {
    font-size: 1.2rem;
    font-family: sans-serif;
    line-height: 1.5;
  }

  .quiz-button {
    background-color: #7289da;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s;
  }

  .quiz-button:hover {
    background-color: #5b6fb8;
  }

  .ball-component {
    width: 250px;
    height: 250px;
  }
  /* final _______________ */
  .final-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
  }

  @media (min-width: 768px) {
    .final-screen-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .final-image-wrapper {
    flex: 1;
    text-align: center;
  }

  .final-image {
    max-width: 100%;
    filter: drop-shadow(1px 1px 20px #00ff7f);
    height: auto;
  }

  .final-text-wrapper {
    flex: 1;
    text-align: center;
    padding: 0 20px;
  }
}
