@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import "tailwindcss";

:root {
  --font-playfair-display: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --screens-sm: 480px;
  --screens-md: 768px;
  --screens-lg: 1024px;
  --screens-xl: 1280px;
  --screens-2xl: 1536px;
  --color-main-dark: #202634;
  --color-main-title: #35ff9e;
  --color-text-white: #f5f5dc;
  --color-title-dark: #228b22;
  --color-text-accent: #00a86b;
  --color-hover-light: #32cd32;
  --color-text-enegry: #50c878;
  --color-neon-green: #00ff7f;
  --color-panel-green: #00ff99;
  --color-mint-green: #00cc66;
  --color-bright-mint: #98ff98;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #202634;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair-display);
  }
  p {
    font-family: var(--font-inter);
  }

  a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
/* @layer {
  .container-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .container-section {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    .container-section {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1024px) {
    .container-section {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
}
@media (min-width: 1280px) {
  .container-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
} */
/* home________________________ */
@layer {
  .home-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .masked-title {
    font-size: 3.5rem;
    text-align: center;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    background-image: url("./assets/images/squre/small.jpg");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  @media (min-width: 481px) {
    .masked-title {
      font-size: 8rem;
    }
  }

  @media (min-width: 769px) {
    .masked-title {
      font-size: 12rem;
    }
  }

  @media (min-width: 1201px) {
    .masked-title {
      font-size: 14rem;
    }
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  .bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-text {
    width: 60vw;
    color: var(--color-hover-light);
    color: var(--color-main-title);
    transform: scale(0.5);
    opacity: 0;
    transition: transform 2s ease, opacity 3s ease;
  }
  .title {
    color: var(--color-title-dark);
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  /* .neon-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 2rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    overflow: hidden;
    text-shadow: 0 0 5px var(--color-neon-green),
      0 0 10px var(--color-neon-green), 0 0 15px var(--color-neon-green);
  }

  .neon-button::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid transparent;
    border-top-color: #00ff7f;
    border-right-color: #00ff7f;
    transform: skewX(-15deg) skewY(15deg) translate(-50%, -50%);
    width: 150%;
    height: 150%;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
  }
  .neon-button::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid transparent;
    border-bottom-color: #00ff7f;
    border-left-color: #00ff7f;
    transform: skewX(-15deg) skewY(15deg) translate(50%, 50%);
    width: 150%;
    height: 150%;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
  } */
  /* .neon-button:hover {
    color: var(--color-neon-green); */
  /* animated title */
  /* .animated-title {
    font-family: inherit;
    font-weight: 900;
    opacity: 0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px;
    will-change: opacity, transform;
  } */

  /* srction  hero___________________ */
  .hero-section-container {
    height: 200vh;
    position: relative;
    overflow: hidden;
  }

  .hero-image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24rem;
    height: 60vh;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .hero-text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 20;
    color: var(--color-text-white);
  }

  .title {
    color: var(--color-title-dark);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .about-subtext {
    position: absolute;
    bottom: -80dvh;
    left: 50%;
    width: 100%;
    max-width: 24rem;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.125rem;
  }

  @media (min-width: 768px) {
    .about-subtext {
      max-width: 34rem;
    }
  }
  .hero-image {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 20;
    height: 60vh;
    width: 24rem;
    transform-origin: center;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 1.5rem;
  }

  @media (min-width: 768px) {
    .hero-image {
      width: 30vw;
    }
  }
  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  /* section home_____________  */
  .home-image {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 20;
    height: 60vh;
    width: 24rem;
    transform-origin: center;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 1.5rem;
  }
}

/* poster__________________ */
@layer {
  menu {
    position: relative;
    width: 100%;
    margin-top: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: 768px) {
    menu {
      margin-top: 10rem;
    }
  }

  .poster-tabs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 10;
  }

  @media (min-width: 768px) {
    .poster-tabs {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 5rem;
      margin-bottom: 8rem;
      max-width: 72rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .poster-tabs-button {
    padding-bottom: 0.5rem;
    color: var(--color-panel-green);
    cursor: pointer;
    transition-property: color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 1px solid;
  }

  @media (min-width: 768px) {
    .poster-tabs-button {
      font-size: 1.875rem;
    }
  }

  .poster-tabs-button:active,
  .poster-tabs-button:hover {
    color: var(--color-text-white);
    border-color: var(--color-panel-green);
  }

  .poster-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: var(--color-hover-light);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .poster-content .arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
  }

  .poster-content .arrows button {
    color: var(--color-mint-green);
    cursor: pointer;
    transition: color 0.3s;
    max-width: 9rem;
  }

  .poster-content .arrows button:hover {
    color: var(--color-title-dark);
  }

  .poster-content .arrows button span {
    font-size: 1.875rem;
    line-height: 1;
    display: none;
  }

  @media (min-width: 768px) {
    .poster-content .arrows button span {
      display: block;
    }
  }

  .poster-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid var(--color-mint-green);
  }

  .poster-image img {
    object-fit: contain;
    height: 60vh;
  }

  .poster-info-block {
    display: flex;
    gap: 2.5rem;
    color: var(--color-mint-green);
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
  }

  @media (max-width: 767px) {
    .poster-info-block {
      flex-direction: column;
    }
  }

  @media (min-width: 1024px) {
    .poster-info-block {
      position: absolute;
      bottom: 0;
    }
  }

  .poster-info {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 1024px) {
    .poster-info {
      transform: translateY(5rem);
    }
  }

  .poster-info h2 {
    font-size: 1.875rem;
    margin-top: 1.25rem;
  }

  @media (min-width: 768px) {
    .poster-info h2 {
      font-size: 3.125rem;
    }
  }

  .poster-info p {
    font-size: 1.125rem;
    padding-right: 1.25rem;
  }

  @media (min-width: 768px) {
    .poster-info p {
      font-size: 1.125rem;
    }
  }

  .poster-details {
    margin-top: 1.25rem;
  }
  .watch-status {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-main-title);
    font-size: 14px;
    font-weight: 400;
  }
  .status {
    width: 7px;
    height: 7px;
    background-color: var(--color-main-title);
    border-radius: 100%;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #35ff9e;
    }
    70% {
      box-shadow: 0 0 0 9px #116342;
    }
    100% {
      box-shadow: 0 0 0 0 rgba(63, 244, 156, 0.676);
    }
  }
  .title-and-pulse-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  }

  /* Quize саrd_____________________________*/

  .core-container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 50px 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
  }

  .quiz-card {
    width: 90vw;
    max-width: 500px;
    max-height: 300px;
    background: rgba(255, 255, 255, 0.1);
    color: var(--color-text-accent);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    position: relative;
    opacity: 1;
    transition: transform 0.3s ease-in-out;
  }
  .quiz-card:hover,
  .quiz-card:focus {
    transform: scale(1.05);
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.6);
  }
  .quiz-text-container {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ball-component {
    width: 100px;
    height: 100px;
  }
  .quiz-text {
    color: var(--color-main-title);
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .quiz-button {
    background-color: transparent;
    color: var(--color-main-title);
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    position: relative;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 100px;
    height: 60px;
  }
  .quiz-button:hover {
    color: var(--color-text-accent);
  }
  .quiz-button-icon {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transition: transform 0.3s;
  }
  .quiz-button:hover .quiz-button-icon {
    transform: scale(0.9);
  }
  .button-positioned {
    position: absolute;
    bottom: 20px;
    left: 100px;
  }
  .quiz-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: 768px) {
    .core-container {
      gap: 40px;
      padding: 50px 40px;
    }
    .quiz-card {
      width: 400px;
    }
    .quiz-text {
      font-size: 1.3rem;
    }
    .ball-component {
      width: 200px;
      height: 200px;
    }
  }

  .ball-component {
    width: 120px;
    height: 120px;
  }
  @media (min-width: 1024px) {
    .core-container {
      flex-direction: row;
      gap: 20px;
      padding: 150px;
    }
    .quiz-card {
      order: 2;
      width: 500px;
      max-height: 400px;
    }

    .ball-component {
      order: 1;
      width: 500px;
      height: 500px;
    }
  }
}
/* finish___________________ */
@layer {
  .final-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
  }

  @media (min-width: 768px) {
    .final-screen-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .final-image-wrapper {
    flex: 1;
    text-align: center;
  }

  .final-image {
    max-width: 100%;
    filter: drop-shadow(1px 1px 20px #00ff7f);
    height: auto;
  }

  .final-text-wrapper {
    flex: 1;
    text-align: center;
    padding: 0 20px;
  }
}
/* parallax */
@layer {
  .parallax-container {
    position: relative;
    z-index: 10;
    padding: 10rem 2.5rem;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    width: 100vw;
    overflow-x: hidden;
  }

  .content-block {
    max-width: 32rem;
    background: radial-gradient(ellipse, #111117 20%, transparent 70%);
  }

  .secondary-title {
    color: var(--color-main-title);
    font-size: 3rem;
    margin-bottom: 1.75rem;
  }

  .main-text {
    color: var(--color-text-accent);
    font-size: 1.25rem;
  }

  .content-image-wrapper,
  .parallax-image-wrapper {
    background-color: var(--color-text-white);
    transform: translateX(-1.25rem);
  }

  .content-image-wrapper {
    height: 90vh;
    margin-top: 9rem;
  }

  .parallax-image-wrapper {
    height: 80vh;
  }

  .content-image,
  .parallax-image {
    border: 5px solid var(--color-text-accent);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease-in-out;
  }

  .scrolling-images-block {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 24rem;
  }

  @media (min-width: 768px) {
    .secondary-title {
      font-size: 5rem;
    }
    .main-text {
      font-size: 1.5rem;
    }
    .content-image-wrapper {
      height: 90vh;
      margin-top: 9rem;
    }
  }

  @media (min-width: 1024px) {
    .parallax-container {
      flex-direction: row;
      padding-left: 10rem;
      gap: 2.5rem;
    }
    .parallax-image-wrapper {
      height: 80vh;
    }
    .scrolling-images-block {
      margin-top: 0;
    }
  }
  .scroll-top-button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--color-main-dark);
    background-color: var(--color-hover-light);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
  }
}

/* blob_________________________ */
@layer {
  .shadow-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    display: block;
  }
  .blob-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    display: block;
  }

  .blob {
    position: absolute;
    background: var(--color-main-title);
    box-shadow: 0 0 60px 20px var(--color-text-enegry);
    animation: morph 7.5s linear infinite alternate, rotate 15s linear infinite;
  }
  .two {
    position: absolute;
    background: var(--color-main-title);
    box-shadow: 0 0 60px 20px var(--color-text-enegry);
    animation: morph 7.5s linear infinite alternate, rotate 15s linear infinite;
  }

  .shadow {
    position: absolute;
    background: var(--color-text-accent);
    box-shadow: 0 0 30px 20px var(--color-main-title);
    filter: blur(50px);
  }
  .shadow-1 {
    width: 20px;
    height: 20px;
    top: 25%;
    left: 10%;
    border-radius: 60% 45% 45% 70% / 60% 45% 45% 70%;
  }

  @media (min-width: 768px) {
    .shadow {
      box-shadow: 0 0 45px 20px var(--color-main-title);
    }
    .shadow-1 {
      width: 150px;
      height: 150px;
    }
  }
  @media (min-width: 1024px) {
    .shadow {
      box-shadow: 0 0 80px 30px var(--color-main-title);
    }
    .shadow-1 {
      width: 250px;
      height: 250px;
    }
  }

  .blob-2 {
    width: 30px;
    height: 30px;
    bottom: 20%;
    right: 15%;
    border-radius: 60% 45% 25% 85% / 30% 25% 55% 75%;
  }

  .shadow-2 {
    width: 300px;
    height: 300px;
    bottom: 10%;
    right: 10%;
    border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
  }
  .blob-1 {
    width: 20px;
    height: 20px;
    top: 20%;
    left: 10%;
    border-radius: 40% 70% 50% 45% / 80% 30% 45% 60%;
    animation: morph 9s linear infinite alternate-reverse,
      rotate 18s linear infinite reverse;
  }
  .two-1 {
    width: 55px;
    height: 55px;
    top: 20%;
    left: 10%;
    border-radius: 40% 70% 50% 45% / 80% 30% 45% 60%;
    animation: morph 9s linear infinite alternate-reverse,
      rotate 18s linear infinite reverse;
  }
  .two-2 {
    width: 35px;
    height: 35px;
    bottom: 15%;
    right: 20%;
    border-radius: 60% 45% 25% 85% / 30% 25% 55% 75%;
  }
  @keyframes morph {
    0% {
      border-radius: 60% 45% 45% 70% / 60% 45% 45% 70%;
    }
    50% {
      border-radius: 40% 70% 60% 45% / 70% 40% 45% 60%;
    }
    100% {
      border-radius: 60% 45% 45% 70% / 60% 45% 45% 70%;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
