@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import "tailwindcss";

:root {
  --font-playfair-display: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --screens-sm: 480px;
  --screens-md: 768px;
  --screens-lg: 1024px;
  --screens-xl: 1280px;
  --screens-2xl: 1536px;
  --color-main-dark: #202634;
  --color-text-white: #f5f5dc;
  --color-title-dark: #228b22;
  --color-text-accent: #00a86b;
  --color-hover-light: #32cd32;
  --color-text-enegry: #50c878;
  --color-neon-green: #00ff7f;
  --color-panel-green: #00ff99;
  --color-mint-green: #00cc66;
  --color-bright-mint: #98ff98;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair-display);
  }
  p {
    font-family: var(--font-inter);
  }

  a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
